<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>

				<li><a href="mailto:ramon.morros@upc.edu">ramon.morros@upc.edu</a></li>
	        		<li><a href="mailto:veronica.vilaplana@upc.edu">veronica.vilaplana@upc.edu</a></li>
				<li><a href="https://github.com/rmorros">github.com/rmorros</a></li>
				<li><a href="https://github.com/verovilaplana">github.com/verovilaplana</a></li>
				</ul>
			</footer>
		</body>
	</html>
